{"openapi":"3.1.0","info":{"title":"Reprompt API v2","version":"2.0"},"servers":[{"url":"https://api.reprompt.io/v2","description":"V2 API server"}],"paths":{"/enrich":{"post":{"tags":["Enrichments"],"summary":"Enrich","description":"Enrich a single place live","operationId":"enrich_enrich_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V2EnrichRequest"},"examples":{"place_enrichment":{"summary":"Enrich place with attribute","value":{"inputs":{"name":"Joe's Pizza","latitude":40.7359,"longitude":-73.9911,"full_address":"7 Carmine St, New York, NY 10014"},"attribute_key":"closed_permanently"}},"reverse_geocode":{"summary":"Reverse geocode coordinates","value":{"inputs":{"latitude":40.7359,"longitude":-73.9911},"attribute_key":"reverse_geocode"}},"forward_geocode":{"summary":"Forward geocode address","value":{"inputs":{"query":"123 Main St, New York, NY 10001"},"attribute_key":"forward_geocode"}},"test_attribute":{"summary":"Test attribute for debugging","value":{"inputs":{"name":"Test Place","latitude":40.7359,"longitude":-73.9911},"attribute_key":"test_attribute"}},"test_api_attribute":{"summary":"Test API attribute with HTTP call","value":{"inputs":{"test_query":"Test Query"},"attribute_key":"test_api_attribute"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/attributes":{"get":{"tags":["Enrichments"],"summary":"List Attributes","description":"List available attributes including custom attributes","operationId":"list_attributes_attributes_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V2AttributesResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/validate":{"post":{"tags":["Places"],"summary":"Validate Place","description":"Validate if a place exists and has a digital footprint using AI-powered web search and analysis.\n\nGiven a natural language query like \"Starbucks Market and 8th st san francisco\", this endpoint \nperforms comprehensive analysis to determine:\n\n**Digital Footprint Analysis:**\n- Web presence, social media accounts, official websites, and online mentions\n- Strength of digital presence (HIGH, MEDIUM, LOW, NONE)\n\n**Entity Type Classification:**\n- Determines if the query represents a place, address only, person name, geographic area, or other entity type\n\n**Place Definition:**\n- Identifies the type of place: physical storefront, residential, temporary event, digital-only business (e.g., ghost kitchens, eCommerce), etc.\n\n**Place Reality - Location Match Granularity:**\n- **house_number**: Evidence found at exact address including street number (e.g., \"123 Main St\")\n- **nearby**: Evidence found on same street but without exact house number (e.g., \"Main St\" in same city)\n- **broad**: Evidence found in general area/city but at different street or only partial address match\n- **none**: Unable to match the place to any specific location\n\n**Important Notes:**\n- This endpoint validates place existence and digital presence, but does NOT determine if a place is currently open or closed\n- For open/closed status verification, use the `closed_permanently` enrichment via the `/enrich` endpoint","operationId":"validate_place_validate_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V2PlaceValidationRequest"},"examples":{"ghost_kitchen_example":{"summary":"Ghost kitchen query","value":{"query":"Burger Den 12405 Westheimer Rd, Houston, TX 77077"}},"starbucks_example":{"summary":"Nearby match","value":{"query":"Starbucks Market and 8th st san francisco"}},"pizza_example":{"summary":"Broad match","value":{"query":"Apple San francisco"}},"apple_store_example":{"summary":"Exact match","value":{"query":"Apple Store 300 post st San Francisco CA"}},"fictional_example":{"summary":"Fictional place","value":{"query":"Hogwarts school of witchcraft and wizardry, highlands, scotland, Great Britan"}},"address_only_example":{"summary":"Address only","value":{"query":"123 Main St, San Francisco, CA"}},"no_storefront_example":{"summary":"No storefront","value":{"query":"Syncup AI Inc, 201 3rd st, San Francisco, CA"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/placematch":{"post":{"tags":["Places","Places"],"summary":"Placematch","description":"Match a place against multiple geospatial data sources using AI-powered conflation algorithms.\n\nGiven information about a place (address, name, coordinates) we will find the right place. This is also called entity resolution.\n\nReprompt supports multiple backends for matching against:\n- **[Foursquare OS Places](https://opensource.foursquare.com/os-places/)** - amazing open data project with 100M+ global POIs (Apache 2.0 license)\n- **[Overture Places](https://overturemaps.org/)** - open map data from the Overture Maps Foundation with 64M+ places (CDLA Permissive 2.0)\n- **Our index** of places we picked up from crawling the web\n- **Your own data** - supply your own candidates to match against\n\n**Key Use Cases:**\n1. Data cleaning: Clean messy/inconsistent place data against authoritative sources\n2. Deduplication: Find duplicate places across different datasets\n3. Grounding:If you're building AI agents and users are mentioning places or work with plae data, use placematch to ground in the right place.\n\nIn order to match places you need to provide one of the following:\n- Name + Address: Provide `place.name` + `place.address`\n- Name + Address + Coordinates (most accurate): Provide `place.name` + `place.address` + `place.latitude` + `place.longitude`\n\nMatching considers the available input data. Under the hood we use a combination of name similarity, geographic proximity and distance, category alignment, address components\nto find candidates and match them with our fined-tuned LLM.","operationId":"placematch_endpoint_placematch_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"apiKey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacematchRequest"},"examples":{"precise_matching":{"summary":"Precise matching with name+address+coordinates","description":"Most precise matching mode using all available place information","value":{"place":{"name":"Starbucks","address":"1585 Broadway, New York, NY 10036","latitude":40.7614327,"longitude":-73.9776216},"match_sources":["reprompt"]}},"match_against_your_own_data":{"summary":"Match against your own data","value":{"place":{"name":"Joe's Coffee"},"match_sources":["byod","foursquare"],"match_byod_candidates":[{"name":"Joe's Coffee Shop","latitude":40.759,"longitude":-73.985},{"name":"Joey's Cafe","latitude":40.7588,"longitude":-73.9852}]}}}}}},"responses":{"200":{"description":"Successfully matched places","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacematchResponse"},"examples":{"user_location_match":{"summary":"User location matched to BYOD","value":{"results":[{"name":"Blue Bottle Coffee","address":"315 Linden St, San Francisco, CA 94102","latitude":37.775,"longitude":-122.4195,"category":"coffee_shop","phone":"+14158964500","source":"byod","is_match":true,"confidence":"VERY_HIGH","reasoning":"High confidence match: very close location (12m away) with precise GPS coordinates"}],"metadata":{"total_results":1,"sources_searched":["byod"],"search_radius_meters":100}}},"messy_data_cleaned":{"summary":"Messy data matched to Overture","value":{"results":[{"name":"McDonald's","address":"1528 Broadway, New York, NY 10036","latitude":40.7589,"longitude":-73.9851,"category":"fast_food","categories":["fast_food","restaurant"],"source":"overture","is_match":true,"confidence":"HIGH","reasoning":"Good match: normalized name similarity and location within acceptable range"}],"metadata":{"total_results":1,"sources_searched":["overture"],"search_radius_meters":200}}}}}}},"400":{"description":"Invalid input or validation error","content":{"application/json":{"examples":{"missing_input_error":{"summary":"No input provided","value":{"error":"validation_error","message":"Must provide at least a name OR coordinates","details":{}}},"incomplete_coordinates_error":{"summary":"Only latitude or longitude provided","value":{"error":"validation_error","message":"Both latitude and longitude must be provided together","details":{}}},"address_without_name_error":{"summary":"Address provided without name","value":{"error":"validation_error","message":"Address can only be provided together with a name","details":{"suggestion":"Include place.name when providing place.address"}}}},"schema":{"$ref":"#/components/schemas/PlacematchErrorResponse"}}}},"422":{"description":"Geocoding failed or processing error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacematchErrorResponse"}}}},"501":{"description":"Feature not yet supported (coordinates-only searches, etc.)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacematchErrorResponse"}}}},"502":{"description":"External service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacematchErrorResponse"}}}},"504":{"description":"Request timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacematchErrorResponse"}}}}}}},"/find-places":{"post":{"tags":["Places","Places"],"summary":"Find Places","description":"Search for places within a defined geographic area with optional name and category filters.","operationId":"find_places_find_places_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"apiKey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesRequest"},"examples":{"lat_lon_radius":{"summary":"Search near coordinates","description":"Point-based search within specified radius. Returns results sorted by distance.","value":{"location_filter":{"latitude":37.7749,"longitude":-122.4194,"radius":1000},"names":["Starbucks"],"categories":["cafe"]}},"geometry_polygon":{"summary":"Search within polygon","description":"Area-based search within GeoJSON polygon boundaries.","value":{"location_filter":{"geometry":{"type":"Polygon","coordinates":[[[-122.4194,37.7749],[-122.4094,37.7749],[-122.4094,37.7849],[-122.4194,37.7849],[-122.4194,37.7749]]]}},"categories":["restaurant"]}},"locality":{"summary":"Search within a city","description":"Search all places within a city/town boundary.","value":{"location_filter":{"locality":"San Francisco","country_code":"US"},"names":"Coffee Shop"}},"postal_code":{"summary":"Search within a postal code","description":"Search all places within a postal/ZIP code area.","value":{"location_filter":{"postal_code":"94102","country_code":"US"},"categories":["retail"]}},"region":{"summary":"Search within a state/region","description":"Search all places within a state or province boundary.","value":{"location_filter":{"region":"CA","country_code":"US"},"categories":["hospital"]}},"dataset_mode_basic":{"summary":"Dataset mode - Basic usage","description":"Create Reprompt batches from search results. Batches are created with kick_off_jobs_now=false (you select attributes in the app). Auto-chunks large result sets (max 50k jobs per batch). Includes prefilled data for phone, website, and open/closed status. Returns app URLs to manage batches.","value":{"location_filter":{"latitude":10.78,"longitude":106.7,"radius":2000},"names":"coffee","output_mode":"reprompt_dataset","batch_name_prefix":"hcm_coffee_"}}}}}},"responses":{"200":{"description":"Successfully found places or created datasets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesResponse"},"examples":{"results_mode":{"summary":"Results mode (default)","value":{"results":[{"place_id":"plc_123","name":"Blue Bottle Coffee","full_address":"315 Linden St, San Francisco, CA 94102","latitude":37.775,"longitude":-122.4195,"category_primary":"coffee_shop","category_alternates":["cafe"],"phone_number":"+14158964500","website":"https://bluebottlecoffee.com","open_status":"Open","distance_m":85.2}],"metadata":{"total_results":1,"version":"v0.1.0"}}},"dataset_mode":{"summary":"Dataset mode (reprompt_dataset)","value":{"results":[{"place_id":"plc_123","name":"Blue Bottle Coffee","full_address":"315 Linden St, San Francisco, CA 94102","latitude":37.775,"longitude":-122.4195,"category_primary":"coffee_shop","category_alternates":["cafe"],"phone_number":"+14158964500","website":"https://bluebottlecoffee.com","open_status":"Open","distance_m":85.2}],"metadata":{"total_results":64237,"version":"v0.1.0","datasets":{"outputs":[{"batch_id":"5b15d005-4102-4bbc-a0b8-d01490765276","batch_name":"hcm_sample_20251014-001","url":"https://app.repromptai.com/enrichments?batchId=5b15d005-4102-4bbc-a0b8-d01490765276","jobs_count":50000},{"batch_id":"6c26e116-5213-5ccf-b1c9-e52110876387","batch_name":"hcm_sample_20251014-002","url":"https://app.repromptai.com/enrichments?batchId=6c26e116-5213-5ccf-b1c9-e52110876387","jobs_count":14237}],"metadata":{"num_batches":2,"max_jobs_per_batch":50000}}}}},"nearby_results":{"summary":"Results mode - Near coordinates","description":"Default output mode. Returns results sorted by distance with distance_m field.","value":{"results":[{"place_id":"plc_123","name":"Blue Bottle Coffee","full_address":"315 Linden St, San Francisco, CA 94102","latitude":37.775,"longitude":-122.4195,"category_primary":"coffee_shop","category_alternates":["cafe"],"phone_number":"+14158964500","website":"https://bluebottlecoffee.com","open_status":"Open","distance_m":85.2}],"metadata":{"total_results":1,"version":"v0.1.0"}}},"polygon_results":{"summary":"Results mode - Within polygon","description":"Area-based search. Results sorted by name, no distance_m field.","value":{"results":[{"place_id":"plc_456","name":"McDonald's","full_address":"1528 Broadway, New York, NY 10036","latitude":40.7589,"longitude":-73.9851,"category_primary":"fast_food","category_alternates":["restaurant"],"open_status":"Open"}],"metadata":{"total_results":1,"version":"v0.1.0"}}}}}}},"400":{"description":"Invalid input, validation error, or too many batches","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesErrorResponse"},"examples":{"validation_error":{"summary":"Validation error","value":{"error":"validation_error","message":"Invalid request parameters","details":[{"loc":["body","location_filter"],"msg":"Must provide one location filter type","type":"value_error"}]}},"too_many_batches":{"summary":"Too many batches (dataset mode)","description":"Query would exceed 200-batch limit (10M places max)","value":{"error":"validation_error","message":"Query would generate 250 batches, exceeding the limit of 200. Please narrow your query or increase max_jobs_per_batch (current: 50000, max: 50000).","details":{}}},"no_results_dataset":{"summary":"No results (dataset mode)","description":"Cannot create dataset with 0 results. Adjust search filters.","value":{"detail":"No results found. Cannot create dataset with 0 places. Please adjust your search filters."}}}}}},"403":{"description":"Category resolution failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesErrorResponse"}}}},"422":{"description":"Processing error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesErrorResponse"}}}},"502":{"description":"External service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesErrorResponse"}}}},"500":{"description":"Internal error with error ID for support tracking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPlacesErrorResponse"},"examples":{"internal_error":{"summary":"Internal error with error ID","description":"An unexpected error occurred. The error ID can be provided to support for troubleshooting.","value":{"error":"internal_error","message":"An internal error occurred while processing your request. Please contact support with error ID: 5b15d005-4102-4bbc-a0b8-d01490765276","error_id":"5b15d005-4102-4bbc-a0b8-d01490765276"}}}}}}}}}},"components":{"schemas":{"ConfidenceLevel":{"type":"string","enum":["VERY_HIGH","HIGH","MEDIUM","LOW"],"title":"ConfidenceLevel","description":"Confidence levels for place matching."},"DatasetOutput":{"properties":{"batch_id":{"type":"string","title":"Batch Id","description":"UUID of the created batch"},"batch_name":{"type":"string","title":"Batch Name","description":"Name of the batch"},"url":{"type":"string","title":"Url","description":"URL to manage the batch in Reprompt app"},"jobs_count":{"type":"integer","minimum":0.0,"title":"Jobs Count","description":"Number of jobs in this batch"}},"type":"object","required":["batch_id","batch_name","url","jobs_count"],"title":"DatasetOutput","description":"A single dataset output representing a created Reprompt batch."},"DatasetsInfo":{"properties":{"outputs":{"items":{"$ref":"#/components/schemas/DatasetOutput"},"type":"array","title":"Outputs","description":"Array of created batch links"},"metadata":{"$ref":"#/components/schemas/DatasetsMetadata","description":"Batch creation configuration"}},"type":"object","required":["outputs","metadata"],"title":"DatasetsInfo","description":"Dataset information when output_mode is 'reprompt_dataset'."},"DatasetsMetadata":{"properties":{"num_batches":{"type":"integer","minimum":1.0,"title":"Num Batches","description":"Number of batches created"},"max_jobs_per_batch":{"type":"integer","maximum":50000.0,"minimum":1.0,"title":"Max Jobs Per Batch","description":"Max jobs per batch used"}},"type":"object","required":["num_batches","max_jobs_per_batch"],"title":"DatasetsMetadata","description":"Metadata about batch creation configuration."},"FindPlaceItem-Input":{"properties":{"place_id":{"type":"string","title":"Place Id","description":"The ID of the place"},"name":{"type":"string","title":"Name","description":"The name of the place"},"full_address":{"type":"string","title":"Full Address","description":"The full address of the place"},"latitude":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"Latitude","description":"The latitude of the place"},"longitude":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"Longitude","description":"The longitude of the place"},"category_primary":{"type":"string","title":"Category Primary","description":"The primary category of the place"},"category_alternates":{"items":{"type":"string"},"type":"array","title":"Category Alternates","description":"The alternate categories of the place"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"The phone number of the place"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website","description":"The website of the place"},"operating_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Operating Status","description":"The operating status of the place"},"distance_m":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Distance M","description":"Distance in meters from search point"}},"type":"object","required":["place_id","name","full_address","latitude","longitude","category_primary"],"title":"FindPlaceItem","description":"A found place from find_places search results."},"FindPlaceItem-Output":{"properties":{"place_id":{"type":"string","title":"Place Id","description":"The ID of the place"},"name":{"type":"string","title":"Name","description":"The name of the place"},"full_address":{"type":"string","title":"Full Address","description":"The full address of the place"},"latitude":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"Latitude","description":"The latitude of the place"},"longitude":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"Longitude","description":"The longitude of the place"},"category_primary":{"type":"string","title":"Category Primary","description":"The primary category of the place"},"category_alternates":{"items":{"type":"string"},"type":"array","title":"Category Alternates","description":"The alternate categories of the place"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"The phone number of the place"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website","description":"The website of the place"},"operating_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Operating Status","description":"The operating status of the place"},"distance_m":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Distance M","description":"Distance in meters from search point"}},"type":"object","required":["place_id","name","full_address","latitude","longitude","category_primary"],"title":"FindPlaceItem","description":"A found place from find_places search results."},"FindPlacesErrorResponse":{"properties":{"error":{"type":"string","title":"Error","description":"Short machine-readable error type"},"message":{"type":"string","title":"Message","description":"Human-readable error message"},"details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Details","description":"Additional error details if available"}},"type":"object","required":["error","message"],"title":"FindPlacesErrorResponse","description":"Error response schema for the Find Places API."},"FindPlacesMetadata-Input":{"properties":{"total_results":{"type":"integer","minimum":0.0,"title":"Total Results","description":"Total number of places found"},"version":{"type":"string","title":"Version","description":"The API version used","default":"v0.1.0"},"datasets":{"anyOf":[{"$ref":"#/components/schemas/DatasetsInfo"},{"type":"null"}],"description":"Dataset information (only present when output_mode is 'reprompt_dataset')"}},"type":"object","required":["total_results"],"title":"FindPlacesMetadata","description":"Metadata about the find places operation."},"FindPlacesMetadata-Output":{"properties":{"total_results":{"type":"integer","minimum":0.0,"title":"Total Results","description":"Total number of places found"},"version":{"type":"string","title":"Version","description":"The API version used","default":"v0.1.0"},"datasets":{"anyOf":[{"$ref":"#/components/schemas/DatasetsInfo"},{"type":"null"}],"description":"Dataset information (only present when output_mode is 'reprompt_dataset')"}},"type":"object","required":["total_results"],"title":"FindPlacesMetadata","description":"Metadata about the find places operation."},"FindPlacesRequest":{"properties":{"location_filter":{"$ref":"#/components/schemas/LocationFilter","description":"Location filter for geographic search.\n\n**Location Filter Types (choose exactly one):**\n- **Lat/Lon + Radius**: Point-based search within specified radius (default 500m, max 10km)\n- **GeoJSON Geometry**: Area-based search within Polygon or MultiPolygon boundaries\n- **Locality**: Search within a city/town (requires country_code)\n- **Postal Code**: Search within a postal/ZIP code area (requires country_code)\n- **Region**: Search within a state/province (requires country_code)"},"names":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"string"},{"type":"null"}],"title":"Names","description":"Place name(s) to search for","examples":[["Starbucks","Peet's Coffee"],"Coffee Shop"]},"categories":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"string"},{"type":"null"}],"title":"Categories","description":"Category/categories to filter by. **Category Schemas by Source:** **Reprompt & Overture**: Use [Overture Maps schema](https://docs.overturemaps.org/schema/concepts/by-theme/places/) (e.g., 'cafe', 'restaurant', 'hospital'). **Foursquare**: Use [Foursquare category taxonomy](https://docs.foursquare.com/data-products/docs/categories) (e.g., 'Food and Beverage > Restaurant', 'Retail > Grocery Store'). We will match against all the child categories of parent categories.","examples":[["cafe","restaurant"],"cafe"]},"source":{"$ref":"#/components/schemas/PlacematchSource","description":"Data source to search: reprompt (default), overture, or foursquare.\n\nReprompt supports multiple backends for finding places:\n- **[Foursquare OS Places](https://opensource.foursquare.com/os-places/)** - amazing open data project with 100M+ global POIs (Apache 2.0 license)\n- **[Overture Places](https://overturemaps.org/)** - open map data from the Overture Maps Foundation with 64M+ places (CDLA Permissive 2.0)\n- **Our index** of places we picked up from crawling the web\n\nThis endpoint provides a search experience for finding places of interest (POIs) using various location filters and data sources with optimized spatial indexes for fast queries.\n\n**Category Schemas by Source:**\n- **Reprompt & Overture**: Use [Overture Maps schema](https://docs.overturemaps.org/schema/concepts/by-theme/places/) (e.g., \"cafe\", \"restaurant\", \"hospital\")\n- **Foursquare**: Use [Foursquare category taxonomy](https://docs.foursquare.com/data-products/docs/categories) (e.g., \"Food and Beverage > Restaurant\", \"Retail > Grocery Store\")\n- We will match against all the child categories of parent categories.","default":"reprompt"},"output_mode":{"$ref":"#/components/schemas/OutputMode","description":"Output mode: 'results' returns results directly, 'reprompt_dataset' creates Reprompt batches","default":"results"},"batch_name_prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Batch Name Prefix","description":"Batch name prefix for dataset mode (e.g., 'hcm_sample_'). Defaults to 'find_places_'","examples":["hcm_sample_","coffee_shops_"]},"max_jobs_per_batch":{"anyOf":[{"type":"integer","maximum":50000.0,"minimum":1.0},{"type":"null"}],"title":"Max Jobs Per Batch","description":"Max jobs per batch for dataset mode (≤50,000). If omitted, uses 50,000","examples":[50000,25000]},"num_batches":{"anyOf":[{"type":"integer","maximum":200.0,"minimum":1.0},{"type":"null"}],"title":"Num Batches","description":"Target number of batches for dataset mode. If both max_jobs_per_batch and num_batches provided, max_jobs_per_batch takes precedence","examples":[2,5,10]}},"additionalProperties":false,"type":"object","required":["location_filter"],"title":"FindPlacesRequest"},"FindPlacesResponse":{"properties":{"results":{"items":{"$ref":"#/components/schemas/FindPlaceItem-Output"},"type":"array","title":"Results","description":"Array of found places (up to 500)"},"metadata":{"$ref":"#/components/schemas/FindPlacesMetadata-Output","description":"Metadata about the find places operation"}},"type":"object","required":["results","metadata"],"title":"FindPlacesResponse","description":"Unified response model for find_places endpoint.\n\nThis response structure is used for both 'results' and 'reprompt_dataset' output modes.\n- results: Always present, contains up to 500 places\n- metadata.total_results: Total count of places found\n- metadata.datasets: Only present when output_mode='reprompt_dataset', contains batch information"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LocationFilter":{"properties":{"latitude":{"anyOf":[{"type":"number","maximum":90.0,"minimum":-90.0},{"type":"null"}],"title":"Latitude","description":"Latitude coordinate","examples":[37.7749]},"longitude":{"anyOf":[{"type":"number","maximum":180.0,"minimum":-180.0},{"type":"null"}],"title":"Longitude","description":"Longitude coordinate","examples":[-122.4194]},"radius":{"type":"integer","maximum":10000.0,"minimum":0.0,"title":"Radius","description":"Search radius in meters","default":500,"examples":[500,1000]},"geometry":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Geometry","description":"GeoJSON geometry object (Polygon, MultiPolygon, etc.)","examples":[{"coordinates":[[[-122.4194,37.7749],[-122.4094,37.7749],[-122.4094,37.7849],[-122.4194,37.7849],[-122.4194,37.7749]]],"type":"Polygon"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Region","description":"Region/state name","examples":["California","New York"]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postal Code","description":"Postal/ZIP code","examples":["94102","10001"]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Locality","description":"City or town name","examples":["San Francisco","New York"]},"country_code":{"anyOf":[{"type":"string","maxLength":2,"minLength":2},{"type":"null"}],"title":"Country Code","description":"ISO 3166-1 alpha-2 country code","examples":["US","CA","GB"]}},"additionalProperties":false,"type":"object","title":"LocationFilter","description":"Location filter for place search.\n\nSupports multiple filter types (mutually exclusive):\n1. Lat/Lon/Radius: Provide latitude, longitude, and optionally radius (default 500m)\n2. Geometry: Provide geometry as GeoJSON object\n3. Region: Provide region and country_code\n4. Postal Code: Provide postal_code (and optionally country_code)\n5. Locality: Provide locality and country_code"},"OutputMode":{"type":"string","enum":["results","reprompt_dataset"],"title":"OutputMode","description":"Output mode for find-places results."},"PlaceInput":{"properties":{"place_id":{"type":"string","title":"Place Id","description":"Optional place ID for matching","default":""},"name":{"type":"string","title":"Name","description":"Name of the place (required)"},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Address","description":"Address of the place (for more precise matching)"},"latitude":{"anyOf":[{"type":"number","maximum":90.0,"minimum":-90.0},{"type":"null"}],"title":"Latitude","description":"Latitude coordinate"},"longitude":{"anyOf":[{"type":"number","maximum":180.0,"minimum":-180.0},{"type":"null"}],"title":"Longitude","description":"Longitude coordinate"},"category_primary":{"type":"string","title":"Category Primary","description":"Primary category of the place","default":""},"category_alternates":{"items":{"type":"string"},"type":"array","title":"Category Alternates","description":"Alternate categories of the place"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"Phone number of the place"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website","description":"Website URL of the place"}},"additionalProperties":false,"type":"object","required":["name"],"title":"PlaceInput","description":"Place object input for placematch - supports coordinates-only, name-only, or name+address+coordinates."},"PlacematchErrorResponse":{"properties":{"error":{"type":"string","title":"Error","description":"Error type"},"message":{"type":"string","title":"Message","description":"Human-readable error message"},"details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Details","description":"Additional error details"}},"type":"object","required":["error","message"],"title":"PlacematchErrorResponse","description":"Error response for placematch endpoint."},"PlacematchItem-Input":{"properties":{"place_id":{"type":"string","title":"Place Id","description":"The ID of the place"},"name":{"type":"string","title":"Name","description":"The name of the place"},"full_address":{"type":"string","title":"Full Address","description":"The full address of the place"},"latitude":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"Latitude","description":"The latitude of the place"},"longitude":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"Longitude","description":"The longitude of the place"},"category_primary":{"type":"string","title":"Category Primary","description":"The primary category of the place"},"category_alternates":{"items":{"type":"string"},"type":"array","title":"Category Alternates","description":"The alternate categories of the place"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"The phone number of the place"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website","description":"The website of the place"},"operating_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Operating Status","description":"The operating status of the place"},"distance_m":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Distance M","description":"Distance in meters from search point"},"is_match":{"type":"boolean","title":"Is Match","description":"Whether this is considered a confident match"},"confidence":{"$ref":"#/components/schemas/ConfidenceLevel","description":"Confidence level based on score thresholds: VERY_HIGH (>0.95), HIGH (>0.9), MEDIUM (>0.8), LOW (>0.5)"},"reasoning":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reasoning","description":"Human-readable explanation of the match"}},"type":"object","required":["place_id","name","full_address","latitude","longitude","category_primary","is_match","confidence"],"title":"PlacematchItem","description":"Matched place item - extends FindPlaceItem with matching metadata."},"PlacematchItem-Output":{"properties":{"place_id":{"type":"string","title":"Place Id","description":"The ID of the place"},"name":{"type":"string","title":"Name","description":"The name of the place"},"full_address":{"type":"string","title":"Full Address","description":"The full address of the place"},"latitude":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"Latitude","description":"The latitude of the place"},"longitude":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"Longitude","description":"The longitude of the place"},"category_primary":{"type":"string","title":"Category Primary","description":"The primary category of the place"},"category_alternates":{"items":{"type":"string"},"type":"array","title":"Category Alternates","description":"The alternate categories of the place"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"The phone number of the place"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website","description":"The website of the place"},"operating_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Operating Status","description":"The operating status of the place"},"distance_m":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Distance M","description":"Distance in meters from search point"},"is_match":{"type":"boolean","title":"Is Match","description":"Whether this is considered a confident match"},"confidence":{"$ref":"#/components/schemas/ConfidenceLevel","description":"Confidence level based on score thresholds: VERY_HIGH (>0.95), HIGH (>0.9), MEDIUM (>0.8), LOW (>0.5)"},"reasoning":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reasoning","description":"Human-readable explanation of the match"}},"type":"object","required":["place_id","name","full_address","latitude","longitude","category_primary","is_match","confidence"],"title":"PlacematchItem","description":"Matched place item - extends FindPlaceItem with matching metadata."},"PlacematchMetadata":{"properties":{"total_results":{"type":"integer","title":"Total Results","description":"Total number of results returned"},"sources_searched":{"items":{"type":"string"},"type":"array","title":"Sources Searched","description":"Sources that were searched"},"search_radius_meters":{"type":"number","title":"Search Radius Meters","description":"Search radius used"}},"type":"object","required":["total_results","sources_searched","search_radius_meters"],"title":"PlacematchMetadata"},"PlacematchRequest":{"properties":{"place":{"$ref":"#/components/schemas/PlaceInput","description":"Place to match (name-only, coordinates-only, or name+address+coordinates for most precise matching)"},"match_sources":{"anyOf":[{"items":{"$ref":"#/components/schemas/PlacematchSource"},"type":"array"},{"type":"null"}],"title":"Match Sources","description":"Sources to search for matches. Defaults to reprompt if not specified.","default":["reprompt"]},"match_byod_candidates":{"anyOf":[{"items":{"$ref":"#/components/schemas/PlaceInput"},"type":"array"},{"type":"null"}],"title":"Match Byod Candidates","description":"Your own place candidates for matching (max 50)"},"max_matches":{"anyOf":[{"type":"integer","maximum":5.0,"minimum":1.0},{"type":"null"}],"title":"Max Matches","description":"Maximum matches per source","default":1},"radius":{"anyOf":[{"type":"number","maximum":5000.0,"minimum":50.0},{"type":"null"}],"title":"Radius","description":"Search radius in meters","default":1000}},"additionalProperties":false,"type":"object","required":["place"],"title":"PlacematchRequest","description":"Request model for placematch endpoint."},"PlacematchResponse":{"properties":{"results":{"items":{"$ref":"#/components/schemas/PlacematchItem-Output"},"type":"array","title":"Results","description":"Array of matched places"},"metadata":{"$ref":"#/components/schemas/PlacematchMetadata","description":"Operation metadata"}},"type":"object","required":["results","metadata"],"title":"PlacematchResponse","description":"Response model for placematch endpoint."},"PlacematchSource":{"type":"string","enum":["reprompt","overture","foursquare","byod"],"title":"PlacematchSource","description":"Supported data sources for place matching and search.\n\nThese sources are available across both the placematch API (for entity resolution)\nand the find-places API (for geographic search)."},"V2AttributeDetails-Input":{"properties":{"key":{"type":"string","title":"Key"},"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"},"function_signatures":{"items":{"$ref":"#/components/schemas/V2AttributeFunctionSignature"},"type":"array","title":"Function Signatures"},"enrichment_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Enrichment Type"},"generic_api_config":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Generic Api Config"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"}},"type":"object","required":["key","name","description","function_signatures"],"title":"V2AttributeDetails","description":"Detailed information about a single attribute"},"V2AttributeDetails-Output":{"properties":{"key":{"type":"string","title":"Key"},"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"},"function_signatures":{"items":{"$ref":"#/components/schemas/V2AttributeFunctionSignature"},"type":"array","title":"Function Signatures"},"enrichment_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Enrichment Type"},"generic_api_config":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Generic Api Config"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"}},"type":"object","required":["key","name","description","function_signatures"],"title":"V2AttributeDetails","description":"Detailed information about a single attribute"},"V2AttributeFunctionSignature":{"properties":{"required_inputs":{"items":{"$ref":"#/components/schemas/V2InputField"},"type":"array","title":"Required Inputs"},"optional_inputs":{"anyOf":[{"items":{"$ref":"#/components/schemas/V2InputField"},"type":"array"},{"type":"null"}],"title":"Optional Inputs"},"output_schema":{"additionalProperties":true,"type":"object","title":"Output Schema"},"example_output":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Example Output"},"credit_cost":{"type":"integer","title":"Credit Cost"}},"type":"object","required":["required_inputs","output_schema","credit_cost"],"title":"V2AttributeFunctionSignature"},"V2AttributesResponse":{"properties":{"attributes":{"items":{"$ref":"#/components/schemas/V2AttributeDetails-Output"},"type":"array","title":"Attributes"},"total_count":{"type":"integer","title":"Total Count"}},"type":"object","required":["attributes","total_count"],"title":"V2AttributesResponse","description":"Response for the /attributes endpoint"},"V2EnrichRequest":{"properties":{"inputs":{"additionalProperties":true,"type":"object","title":"Inputs"},"attribute_key":{"type":"string","title":"Attribute Key"}},"type":"object","required":["inputs","attribute_key"],"title":"V2EnrichRequest","description":"Main enrichment request"},"V2InputField":{"properties":{"name":{"type":"string","title":"Name"},"type":{"type":"string","title":"Type"},"description":{"type":"string","title":"Description"},"example":{"anyOf":[{},{"type":"null"}],"title":"Example"}},"type":"object","required":["name","type","description"],"title":"V2InputField","description":"Represents a single input field for an attribute"},"V2PlaceValidationRequest":{"properties":{"query":{"type":"string","title":"Query","description":"Natural language query like 'Starbucks Market and 8th st san francisco'"}},"type":"object","required":["query"],"title":"V2PlaceValidationRequest","description":"Request model for place existence endpoint"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}},"tags":[{"name":"Enrichments","description":"Use AI to enrich place data with various attributes"},{"name":"Places","description":"Find, match, and check existence of places"}]}