openapi: 3.0.0
info:
  title: AI Response and People Extraction API
  version: 1.0.0
  description: API endpoints to determine if an AI response is hallucinated and to extract people information from URLs.
servers:
  - url: https://api.repromptai.com
paths:
  /api/v1/isHallucinated:
    post:
      summary: Check if the AI-generated response is hallucinated
      operationId: isHallucinatedCheck
      tags:
        - Hallucination Check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The original prompt given to the AI.
                response:
                  type: string
                  description: The AI-generated response to the prompt.
                userInput:
                  type: string
                  description: Optional user input that might contextualize the response.
                debug:
                  type: boolean
                  description: Flag to indicate if the operation should be run in debug mode.
              required:
                - prompt
                - response
      responses:
        '200':
          description: Successfully determined the hallucination status of the response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: API key is valid
                  apiKey:
                    type: string
                    example: your-api-key
                  isHallucinated:
                    type: boolean
                    example: false
                  isBadResponse:
                    type: boolean
                    example: false
                  reasoning:
                    type: string
                    example: The response is accurate and relevant to the prompt.
        '400':
          description: Bad request, when required fields are missing or the API key is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Prompt and response are required
        '401':
          description: Unauthorized, when the API key is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key is missing
      security:
        - ApiKeyAuth: []

  /api/v1/extractions/people:
    get:
      summary: Retrieve all people extractions or a specific extraction by ID
      operationId: getPeopleExtractions
      tags:
        - People Extraction
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: Unique ID of the extraction to retrieve a specific record.
      responses:
        '200':
          description: Successfully retrieved the extraction(s).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: unique-extraction-id
                  url:
                    type: string
                    example: http://example.com
                  result:
                    type: object
                    properties:
                      name:
                        type: string
                        example: John Doe
                      department:
                        type: string
                        example: Finance
                      telephone:
                        type: string
                        example: 123-456-7890
                      email:
                        type: string
                        example: john.doe@example.com
        '404':
          description: Extraction not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Extraction not found
    post:
      summary: Create a new people extraction from a URL
      operationId: createPeopleExtraction
      tags:
        - People Extraction
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL from which to extract people information.
                include_sources:
                  type: boolean
                  description: Flag to include source information in the extraction.
            example:
              url: "https://reveille.io/pages/founder"
      responses:
        '200':
          description: Successfully created the people extraction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "e1f131c57b14a90270f274f5827b6fa5c7ae3a0bc50d4273fb514342424e41c5"
                  url:
                    type: string
                    example: "https://reveille.io/pages/founder"
                  result:
                    type: object
                    properties:
                      people:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              example: "Calvin Harris"
                            department:
                              type: string
                              example: "Founder and Managing Director"
                            telephone:
                              type: string
                              example: "8573488948"
                            email:
                              type: string
                              example: "support@reveille.io"
                            reasoning:
                              type: object
                              properties:
                                relevant_text_fragments:
                                  type: array
                                  items:
                                    type: string
                                who_is_person:
                                  type: string
                                why_is_person:
                                  type: string
                                why_is_not_person:
                                  type: string
                            source:
                              type: object
                              properties:
                                url:
                                  type: string
                                timestamp:
                                  type: string
                                  format: date-time
                  hallucination_check:
                    type: object
                    properties:
                      isHallucinated:
                        type: boolean
                        example: false
                      isBadResponse:
                        type: boolean
                        example: false
                      reasoning:
                        type: string
                  sources:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        text:
                          type: string
                        html:
                          type: string
components:
  securitySchemes:
    ApiKeyAuth:  # Name of the security scheme
      type: apiKey
      in: header  # Can be "header", "query" or "cookie"
      name: apiKey  # Name of the header, query parameter or cookie
